body {
    background-color: #000000;
}



.dash-page {
    display: flex;
    /* height: 98vh; */
    /* justify-content: space-between; */
}

/* 
aside .container{
    margin-top: -200px;
    width: 90%;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 800px;
} */

aside {
    color: yellow;
    width: 30%;
    padding: 20px;
    background: linear-gradient(0deg, white 90%, yellow 100%);
    /* height: clamp(200rem, 100vh, 400rem); */
    /* height: calc(100vh - 70px); */
    border-right: 3px solid yellow;
    /* height: 100vh; */
}



aside .container .relatorio {
    width: 333px;
    height: 450px;
    background-color: #111111;

}

aside .container {
    margin: 0;
}


aside h1 {
    padding: 10px;
}

aside .container .relatorio header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px solid yellow;
}



.opitons {
    display: flex;
    color: yellow;
    padding: 20px;
    justify-content: space-between;

}

.opitons .spacing {
    /* margin-right: 5rem; */
}

.opitons label {
    /* margin-right: .3rem; */
}

.opitons input {
    width: 80px;
}

#sala {
    /* width: 50%; */
    height: 20px;
    /* float: left; */
}

/* fim do aside */

.dashbord {
    width: 70%;
    background-color: #111111;
    text-align: right;
}

/* #c_grafico2{
    width: 70%; 
    margin-top: 150px;
    margin-bottom: 30px;
    height: 70px;

} */