* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
}

.container {
    height: 70px;
    width: 80%;
    margin: auto;
}

/* navibar */
.navbar {
    width: 100%;
    height: 70px;
    background-color: #111111;
    border-bottom: 3px yellow solid;
    box-shadow: 0 0px 10px yellow;
}

.logo {
    color: #fff;
    font-size: 35px;
    line-height: 75px;
    font-weight: bolder;
}

.navbar img {
    width: 50px;
    float: left;
    margin-top: 10px;
}

.navbar ul {
    float: right;
    text-transform: uppercase;
}

.navbar li {
    float: left;
    list-style: none;
    line-height: 75px;
}

.navbar a {
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    padding: 7px 13px;
}

a.active, a:hover {
    background-color: #363636;
    color: yellow;
    transition: .5s;
}

/* banner */
.banner {
    border-bottom: #f7e70b 3px solid;
    height: 510px;
    background: #adadad url(../img/pexels-daniel-reche-1556704.jpg) no-repeat scroll;
    background-size: cover;
}

.bannerBox {
    margin: 70px 150px 150px 150px;
    color: #f7e70b;
    width: 80%;
}

.bannerBox h1 {
    font-size: 90px;
}

 /* Começo CSS Contato */

.contato {
    border-bottom: #f7e70b 3px solid;
    height: 550px;
    background: #adadad url(../img/background-contato.jpg) no-repeat scroll;
    background-size: cover;
}

.conteiner12 {
    margin: 150px;
    color: #f7e70b;
    width: 80%;
    font-family: 'Roboto', sans-serif;
    
}

.conteiner12 h1 {
    margin-top: -50px;


}

.contat {
    background: rgb(255, 255, 255);
    border-radius: 8px;
    color: #000000;
    font: 400 17px;
    font-size: 17px;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 10px;
    width: 20%;
}

.msg {
    background: #fff;
    border-radius: 8px;
    color: #000000;
    font: 400 17px;
    font-size: 17px;
    height: 100px;
    margin-bottom: 20px;
    padding-left: 10px;
    width: 35%;
}

.botao {
	box-shadow: 0px -2px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:17px;
	border:2px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:19px;
	font-weight:bold;
	padding:8px 12px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
}

.botao:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.botao:active {
	position:relative;
	top:1px;

/* Final CSS Contato */