* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
}

.container {
    width: 80%;
    margin: auto;
}

/* navbar */
.navbar {
    width: 100%;
    height: 75px;
    background-color: #111111;
    border-bottom: 3px yellow solid;
}

.logo {
    color: #fff;
    font-size: 35px;
    line-height: 75px;
    font-weight: bolder;
}

.navbar img {
    width: 50px;
    float: left;
    margin-top: 10px;
}

.navbar ul {
    float: right;
    text-transform: uppercase;
}

.navbar li {
    float: left;
    list-style: none;
    line-height: 75px;
}

.navbar a {
    border-radius: 5px;
    padding: 7px 13px;
    color: #fff;
    text-decoration: none;
}

a.active,
a:hover {
    background-color: #363636;
    color: yellow;
    transition: .5s;
}

/* banner */
.banner {
    border-bottom: #f7e70b 3px solid;
    height: 510px;
    background: #adadad url(../img/pexels-daniel-reche-1556704.jpg) no-repeat fixed;
    background-size: cover;
}

.bannerBox {
    margin: 70px 150px 150px 150px;
    color: #f7e70b;
    width: 80%;
}

.bannerBox h1 {
    font-size: 90px;
}

/* Começo CSS Contato */

.contato {
    border-bottom: #f7e70b 2px solid;
    height: 600px;
    background: #adadad url(../img/background-contato.jpg) no-repeat scroll;
    background-size: cover;
}

.contatoBox {
    margin-left: 78px;
    margin-top: 0;
    color: #f7e70b;
    width: 80%;
    font-family: 'Roboto', sans-serif;
    position: relative;
    padding-top: 50px;

}

.contat {
    background: rgb(255, 255, 255);
    border-radius: 8px;
    color: #000000;
    font: 400 17px;
    font-size: 17px;
    height: 40px;
    margin-bottom: 24px;
    padding-left: 10px;
    width: 20%;
    display: block;

}

.msg {
    background: #fff;
    border-radius: 8px;
    color: #000000;
    font: 400 17px;
    font-size: 17px;
    height: 100px;
    margin-bottom: 20px;
    padding-left: 10px;
    width: 35%;
}

.botao {
    background-color: #111111;
    color: white;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    cursor: pointer;
    font-weight: bold;
    display: block;
    margin-top: 24px;
}

.contato textarea {
    font-size: 17px;
    padding: 10px;
}

.botao:hover,
.botao:active {
    background-color: #363636;
    color: yellow;
    transition: .5s all;
    transform: scale(1.2);
}

/* formulario de cadastro */

.mainContainer input {
    /* estiliza os inputs do maincontainer*/
    display: block;
    width: 100%;
    border-bottom: 2px solid #363636;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 40px;
}

.mainContainer label {
    /* estiliza as label do maincontainer*/
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: .8rem;
}

input:focus,
label:focus {
    /* classe usada para retirar a linha do input */
    outline: none;
}

.mainContainer {
    /* div principal onde contem os intens */
    width: 500px;
    background-color: white;
    margin: 25px auto;
    border-radius: 10px;
    padding: 25px 25px 0px 25px;
}

.mainContainer h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1, 6rem;
}

.mainContainer form {
    /* estilisa formulario*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fullBox {
    /* div generica que ocupa uma linha inteira */
    flex: 1 1 100%;
    position: relative;
}

.halfBox {
    /* div generica que ocupa metade uma linha */
    flex: 1 1 45%;
}

.spacing {
    /* classe usada para colocar um espaçamento entre div */
    margin-right: 2.5%;
}

.mainContainer input:focus {
    /* muda a cor da linha do input quando clicado*/
    border-bottom: yellow solid;
}

.mainContainer input[type='submit'] {
    /* estiliza botão*/
    background-color: #111111;
    color: white;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    cursor: pointer;
    margin-left: 150px;
    margin-bottom: 10px;
    font-weight: bold;
}

.mainContainer input[type='submit'].active,
.mainContainer input[type='submit']:hover {
    /* estiliza ao clicar no botão*/
    background-color: #363636;
    color: yellow;
    transition: .5s;
}

#termosDeUso {
    margin-right: 5px;
    margin-bottom: 10px;
}

#termosDeUso,
#termosDeUso-label {
    display: inline-block;
    width: auto;
}

.template {
    /* classe usada para algo começar invisivel*/
    display: none;
}


/* PARTE DO SOBRE*/

.sobre {
    width: 100%;
    height: 585px;
    background: scroll;
    background-size: cover;
    background-color: #111111;
    border-bottom: 3px yellow solid;
}

.sobre h1 {
    color: yellow;
    margin-top: 20px;

}

.sobre h2 {
    color: yellow;
    margin-top: 50px;

}

.sobre p {
    width: 40%;
    font-weight: bold;
    color: yellow;
    text-align: left;
    margin-top: 30px;
    font-size: 15px;
    text-justify: auto;
    font-family: Arial, Helvetica, sans-serif;
    /*opacity: 0.75;*/


}

.sobre img {
    float: right;
    width: 400px;
    margin-top: -400px;
}

/*FIM DO SOBRE*/

/* COMEÇO DO SOLUÇÃO*/

.solucao {
    background-color: #111111;
    padding: 20px 0;
    background: url(../img/fundoSolucao2.jpg) no-repeat scroll;
    background-position: -400px;
}

.solucaoBox {
    width: 40%;
    font-weight: bold;
    color: yellow;
    text-align: right;
    margin-top: 30px;
    font-size: 15px;
    text-justify: auto;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
}


.solucao img {

    float: left;
    width: 400px;
}

/* FIM DO SOLUÇÃO*/

/* COMEÇO RODAPÉ */

.futher {
    
    background-color: #202020;
    margin: 0px;
    color: #f7e70b;
    height: 80px;
    border-top: #f7e70b 3px solid;
}

.futher h2 {
    margin-top: 40px;
}

.futher img {
    width: 50px;
    float: left;
    margin-top: -25px;

}

.copyright {
    float: right;
    margin-top: -25px
}


/* Fim rodapé */
.ganbiarra {
    height: 70vh;
    position: relative;
}