* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
}

.container {
    height: 70px;
    width: 80%;
    margin: auto;
}

/* navibar */
.navbar {
    width: 100%;
    height: 70px;
    background-color: #111111;
    border-bottom: 3px yellow solid;
    box-shadow: 0 0px 10px yellow;
}

.logo {
    color: #fff;
    font-size: 35px;
    line-height: 75px;
    font-weight: bolder;
}

.navbar img {
    width: 50px;
    float: left;
    margin-top: 10px;
}

.navbar ul {
    float: right;
    text-transform: uppercase;
}

.navbar li {
    float: left;
    list-style: none;
    line-height: 75px;
}

.navbar a {
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    padding: 7px 13px;
}

a.active, a:hover {
    background-color: #363636;
    color: yellow;
    transition: .5s;
}

.sejabemvindo{
    border-bottom: #f7e70b 3px solid;
    height: 550px;
    background: #adadad url(./pexels-daniel-reche-1556704.jpg) no-repeat scroll;
    background-size: cover;
}

.conteiner2{
 margin: 150px;
   color: #f7e70b;
   width: 80%;
}

.conteiner2 h1{
    font-size: 90px;
}